/* Look into refactoring css code */

body {
    display: flex;
    min-height: 100vh;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

.header {
    flex: 1;
    background-color: black;
    opacity: 0.85;
    text-align: center;
    vertical-align: center;
    color: white;
}

.intro {
    padding: 10%;
}

.navElements {
    list-style: none;
    padding: 10%;
}

li {
    font-size: 20px;
    padding: 10px;
}

li:hover {
    background-color: salmon;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a .fa {
    color: white;
}

.fa {
    padding: 5%;
}

.fa:hover {
    text-shadow: 0px 0px 26px silver;
}

.showcase {
    flex: 3;
    text-align: center;
    color: white;
    opacity: 0.9;
    overflow: auto;
}

/* About Me */
.aboutGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 15px;
}

.aboutElement {
    border: 2px solid white;
    border-radius: 16px;
}

#personalSelf {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#hobbies {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

#topGames {
    grid-column: 3 / 5;
    grid-row: 1 / 5;
}

.aboutText {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-size: 18px;
}

/* Resume */
.userLinks {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
}

.linkItem {
    font-size: 18px;
}

.linkItem:hover {
    text-decoration: underline;
}