/* Look into refactoring css code */
/* Color Palette
    body -> fff9e3 -> cosmic latte
    header -> fbf1ca -> darker shade of background
    
    Peach color palette -> https://www.color-hex.com/color-palette/6060
*/

body {
    display: flex;
    flex-direction: row;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff9e3;
}

/* HEADER/NAV BAR SECTION */
/* Left side of website, on top for smaller viewports */
.header {
    flex: 1;
    align-self: center;
    background-color: #fbf1ca;
    text-align: center;
    vertical-align: center;
    color: black;
    height: 80vh;
    overflow-y: auto;
    letter-spacing: 2px;
    padding: 1%;
    margin: auto 3%;
    border-radius: 3rem;
    box-shadow: 0px 10px 18px #888888;
}

.intro {
    padding: 10%;
}

/* Thematic break underneath */
hr {
    color: black;
}

.navElements {
    list-style: none;
    padding: 10%;
}

li {
    font-size: 20px;
    padding: 10px;
}

li:hover {
    background-color: #FADAA5;
    border-radius: 2rem;
    cursor: pointer;
}

/* fa-awesome icons */
a {
    text-decoration: none;
    color: black;
}

a .fa {
    color: black;
}

.fa {
    padding: 5%;
}

.fa:hover {
    color: #16d0ff;
    transition: 0.25s ease-out;
}

@media (max-width: 768px) {
    body {
        display: block;
    }

    .header {
        flex-direction: row;
        box-shadow: none;
    }
}

/* CONTENT AREA */
.showcase {
    flex: 5;
    text-align: center;
    color: black;
    opacity: 0.9;
}

/* ABOUT ME SECTION */
.aboutMe {
    height: 100vh;
    overflow-y: auto;
    letter-spacing: 1px;
}

.aboutGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 15px;
}

.aboutElement {
    background-color: #fae6c6; /* fbf1ca  fff3c3 FADAA5 */ 
    box-shadow: 0px 10px 18px #888888;
    /* border: 5px solid white; */
    margin: 1rem;
    border-radius: 1rem;
}

#personalSelf {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#hobbies {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

#topGames {
    grid-column: 3;
    grid-row: 1 / 5;
}

.aboutText {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-size: 18px;
}

/* RESUME SECTION */
.resume {
    height: 100vh;
    overflow-y: auto;
}

.resumePDF {
    height: 80%;
    box-shadow: 0px 8px 18px #888888;
}

.userLinks {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
}

.linkItem {
    font-size: 18px;
}

.linkItem:hover {
    text-decoration: underline;
}

/* PROJECTS SECTION */
.projects {
    height: 100vh;
    overflow-y: auto;
    color: black;
}

.projectsFlexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: left
}

.projectItem {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 33%;
    width: 50%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 9px #888888;
    background-color: #ffffff;
}

.projectTitle {
    border-bottom: solid white;
}

.projectScreenShot {
    width: 100%;
    height: auto;
}

.projectItem p {
    font-size: 18px;
    margin: 5px auto 10px auto;
    width: 85%;
    padding: 5px;
}

.linksContainer {
    margin-top: 0.8rem;
}

.projectLink {
    margin: 0px 9px 0px 9px;
}

.projectButton {
    border: none;
    border-radius: 2rem;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 9px 15px 9px 15px;
    margin: 5px 0px 5px 0px;    
    transition-duration: 0.25s;
}

.projectButton:hover {
    cursor: pointer;
}

.projectLiveButton { 
    background-color: #ffbe60; /*  */
    color: #141414;
}

.projectLiveButton:hover {
    background-color: #ffd87a;
}

.projectCodeButton {
    background-color: #7fffd4;
    color: #000000;
}

.projectCodeButton:hover {
    background-color: #a2ffe0;
}